@model LaboratoryOperatorV1._0.Models.CustomIndex


<script>
    var model =  @Html.Raw(Json.Encode(Model))
</script>

@*<template>
        <div id="show-Labs">
            <h1>All lab assignments</h1>
            <input type="text" v-model="search" placeholder="search Labs" />
            <div v-for="lab in labs" class="single-lab">
                <h2>{{lab.LabName | to-uppercase}}</h2>
                <h2>{{lab.description | to-uppercase}}</h2>
            </div>
        </div>
    </template>*@


<div id="app">
    <v-app id="inspire">

        <v-card>
            <v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="purple">Add New Lab</v-btn>
                </v-card-actions>

                <v-spacer></v-spacer>
                <v-text-field v-model="search "
                              append-icon="search"
                              label="search labs"
                              single-line
                              hide-details>

                </v-text-field>
            </v-card-title>

        </v-card>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12 sm6 md4 lg3 v-for="lab in Assignments" :key="n" :search="search">


                    <v-card flat class="text-xs-center ma-3">

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn flat color="purple">View</v-btn>
                        </v-card-actions>
                        <v-card-title primary-title>
                            <div class=" heading"><h3>{{ lab.LabName }}</h3></div>

                            <div class="sub-heading"> {{ lab.description }} </div>

                        </v-card-title>

                    </v-card>


                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</div>


