@model LaboratoryOperatorV1._0.Models.CustomIndex


<script>
    var model =  @Html.Raw(Json.Encode(Model))  
</script>


<div id="app">
    <v-app id="inspire">
        <v-layout>
            <v-flex xs12 sm6 md4 lg3 v-for="lab in Assignments" :key="n">
                <v-card>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat color="purple">View</v-btn>
                    </v-card-actions>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">{{ lab.LabName }}</h3>
                            <div> {{ lab.description }} </div>
                        </div>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
    </v-app>
</div>


