@model LaboratoryOperatorV1._0.Models.listIndex


<script>
        var model =  @Html.Raw(Json.Encode(Model))
</script>



<div id="app">
    <v-app id="inspire">
        <v-card>
            <v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="purple" href="/Home">Home</v-btn>
                    <v-btn flat color="purple">Inventory</v-btn>
                </v-card-actions>

                <v-spacer></v-spacer>

            </v-card-title>

        </v-card>


        <v-container grid-list-md text-xs-center>
            <v-layout>
                <v-flex xs8>

                    <v-card>

                        <v-card-title>
                            Un Added Lab Equipment
                            <v-spacer></v-spacer>
                            <v-text-field v-model="search"
                                          append-icon="search"
                                          label="Search"
                                          single-line
                                          hide-details></v-text-field>
                        </v-card-title>
                        <v-data-table :headers="Headers"
                                      :items="items"
                                      :search="search"
                                      item-key="equipment"
                                      hide-actions
                                      expand
                                      class="elevation-1">
                            <template slot="items" scope="props">
                                <td class="text-xs">{{ props.item.equipment }}</td>
                                <td class="text-xs">{{ props.item.location }}</td>
                                <td class="text-xs">{{ props.item.qty }}  </td>
                                <td>
                                    <v-dialog v-model="dialog[props.item.equipment]" lazy absolute  width="500">
                                        <v-btn flat icon color="blue lighten-2"
                                               v-on:click.stop="$set(dialog, props.item.equipment, true)" slot="activator">
                                            <v-icon>info</v-icon>
                                        </v-btn>
                                        <v-card>
                                            <v-card-title>
                                                <div class="headline">More Info for '{{ props.item.equipment }}'</div>
                                            </v-card-title>
                                            <v-card-text>
                                                <v-img :src="props.item.pictureUrl" aspect-ratio="1"
                                                       ></v-img>
                                                <b> Description:</b> {{props.item.description}}
                                                <br />
                                                <b>location:</b> {{props.item.location}}
                                            </v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn class="blue--text darken-1" flat="flat"
                                                       v-on:click.stop="$set(dialog, props.item.equipment, false)">Close</v-btn>
                                                
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </td>
                                <td class="text-xs">
                                    <button v-on:click="decrement(props.item.id)" :disabled="disabled == props.item.id ? true : false">
                                        <v-icon color="pink">remove</v-icon>
                                    </button>
                                    <button v-on:click="increment(props.item.id)" id="incrementButton" :disabled="disabled == props.item.id + '2' ? true : false">
                                        <v-icon color="green">add</v-icon>
                                    </button>
                                </td>


                            </template>
                        </v-data-table>
                    </v-card>
                </v-flex>
                <v-flex xs4>

                    <v-card>


                        <div>

                            <v-layout row wrap>
                                <v-flex xs12 >
                                    <v-text-field label="Lab Name" id="labName"></v-text-field>
                                </v-flex>


                                <br />
                               
                                <v-flex xs12>
                                    <v-textarea name="input-7-1"
                                                label="Please Enter the description for this lab"
                                             
                                              id="labDescription"  ></v-textarea>
                                </v-flex>




                                <br />
                                <v-btn flat color="purple" v-on:click="submitData()">Submit Lab</v-btn>
                                @*<input type="submit" style="background-color:#22d015;" v-on:click="submitData()" value="Submit">*@

                            </v-layout>

                        </div>
                        <div>
                            <v-list two-line>
                                <v-subheader>
                                    items added
                                </v-subheader>
                                <template v-for="(item, index) in itemsAdded">


                                    <v-divider></v-divider>

                                    <v-list-tile>

                                        <v-list-tile-content>

                                            <v-list-tile-title>
                                                <v-layout>
                                                    <v-flex xs4>
                                                        item Name: {{item.itemName}}

                                                    </v-flex>
                                                    <v-flex xs4 xs4>
                                                        quantity: {{item.quantity}}
                                                    </v-flex>
                                                </v-layout>
                                            </v-list-tile-title>



                                        </v-list-tile-content>
                                    </v-list-tile>
                                </template>
                            </v-list>
                        </div>

                    </v-card>
                </v-flex>
            </v-layout>
            <br />




        </v-container>


</div>

<script src="~/Scripts/ViewLabs.js"></script>
