

<script>
        var model =  @Html.Raw(Json.Encode(Model))
</script>

<style>
    .flex {
        flex: 0;
    }
</style>

<div id="app">

    <v-app id="inspire">
        <v-card>
            <v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="purple" href="/Home">Home</v-btn>
                    <v-btn flat color="purple">Inventory</v-btn>
                </v-card-actions>

                <v-spacer></v-spacer>

            </v-card-title>

        </v-card>
        <v-flex offset-md11>
            <v-switch v-model="switch1"
                      :label="`${action}`"></v-switch>
        </v-flex>
        <v-flex>
            <div v-for="(list, index) in equipment">

                <div v-if="show">
                    <v-layout>
                        <v-flex xs12 sm10 offset-sm1>
                            <v-card>
                                <v-container>
                                    <v-layout row>
                                        <v-flex xs12
                                                md2 offset-md1>
                                            <div>
                                                {{list.name}}
                                            </div>
                                        </v-flex>
                                        <v-flex xs12
                                                md3>
                                            <div>
                                                {{list.location}}
                                            </div>
                                        </v-flex>
                                        <v-flex xs12
                                                md3>
                                            <div>
                                                <v-icon>info</v-icon>
                                            </div>
                                        </v-flex>


                                    </v-layout>


                                </v-container>

                            </v-card>
                        </v-flex>

                    </v-layout>
                    <br />
                </div>

                <div v-else>
                    <v-layout>
                        <v-flex xs12 sm10 offset-sm1>
                            <v-card>
                                <v-form v-model="valid">
                                    <v-container>
                                        <v-layout row>
                                            <v-flex xs12
                                                    md6 lg6>

                                                <v-text-field v-model="list.name"
                                                              :rules="nameRules"
                                                              label="Equipment name"
                                                              required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12
                                                    md6 lg6>
                                                <v-text-field v-model="list.location"
                                                              :rules="nameRules"
                                                              label="Location"
                                                              required></v-text-field>
                                            </v-flex>


                                        </v-layout>
                                        <v-layout>
                                            <v-flex xs12
                                                    md6>
                                                <v-textarea v-model="list.description"
                                                            :rules="nameRules"
                                                            label="Description"
                                                            required></v-textarea>
                                            </v-flex>
                                            <v-flex xs12 md6 offset-md1>
                                                <v-layout row>

                                                    <button>
                                                        <v-icon color="blue">camera_alt</v-icon>
                                                    </button>

                                                    <button>
                                                        <v-icon color="red">delete</v-icon>
                                                    </button>

                                                </v-layout>
                                            </v-flex>
                                            <v-flex>

                                            </v-flex>
                                        </v-layout>

                                    </v-container>
                                </v-form>
                            </v-card>
                        </v-flex>
                    </v-layout>

                </div>
            </div>

        </v-flex>
        <v-flex xs12 sm10 offset-sm1 id="actioncard" style="visibility: hidden;">
            <v-card>
                <v-container>
                    <v-layout row>
                        <v-flex xs12 md6 offset-md4 id="sbmBtn">

                            <v-btn color="#7cf190" v-on:click="addItem()">
                                <v-icon>add</v-icon>
                            </v-btn>

                            <v-btn color="#7cf190" v-on:click="saveAll()">
                                Save
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-flex>


    </v-app>
</div>

<script src="~/Scripts/ViewInventory.js"></script>


@*<v-card>
        <v-form v-model="valid">
            <v-container>
                <v-layout row>
                    <v-flex xs12
                            md6>

                        <v-text-field v-model="list.name"
                                      :rules="nameRules"
                                      label="Equipment name"
                                      required></v-text-field>
                    </v-flex>
                    <v-flex xs12
                            md6>
                        <v-text-field v-model="list.location"
                                      :rules="nameRules"
                                      label="Location"
                                      required></v-text-field>
                    </v-flex>


                </v-layout>
                <v-layout>
                    <v-flex xs12
                            md6>
                        <v-text-field v-model="list.description"
                                      :rules="nameRules"
                                      label="Description"
                                      required></v-text-field>
                    </v-flex>

                    <v-flex>

                        <button>
                            <v-icon color="blue">camera_alt</v-icon>
                        </button>

                        <button>
                            <v-icon color="red">delete</v-icon>
                        </button>

                    </v-flex>
                    <v-flex>

                    </v-flex>
                </v-layout>


            </v-container>
        </v-form>
    </v-card>*@